.app {
  text-align: center;
  padding: 10%;
  padding-top: 5%;
}
#repo-table {
  border: 1px solid gray;
  padding: 0.5rem;
  margin-bottom: 10px;
  width: 100%;
}

.reponame {
  max-width: 15%;
}

td, #added-msg {
  margin: 5px;
  border: 1px solid gray;
  padding: 0.5rem;
}

.avatar {
  height: 10%;
  border-radius: 50%;
}